{% extends "base_generic.html" %}

{% block content %}
    <h1>Author: {{ author }}</h1>
    <p>Date of birth: {{ author.date_of_birth }}</p>
    {% if author.date_of_death %}
        <p>Date of death: {{ author.date_of_death }}</p>
    {% endif %}
    <hr>
    {% for element in books %}
        <ul class="books">
            {% if element.author == author %}
            <p><strong>Book:</strong><a href="{% url 'book-detail' element.pk %}">{{ element.title }}</a></p>
            <li>
                <p>Summary: {{ element.summary }}</p>
                <hr>
            </li>
            {% endif %}
        </ul>
    {% endfor %}
{% endblock %}
