{% extends "base_generic.html" %}

{% block content %}
    <h1>Author List</h1>
    {% if author_list %}
    <ul>
        {% for author in author_list %}
        <li>
            <a href="{{ author.get_absolute_url }}">{{ author }}</a>
            {% if perms.catalog.can_set_author %}
                <a href="{% url 'author-update' author.pk %}"> -- Update</a>
                <a href="{% url 'author-delete' author.pk %}"> -- Delete</a>
            {% endif %}
        </li>
        {% endfor %}
        {% if perms.catalog.can_set_author %}
            <br>
            <a href="{% url 'author-create' %}">+ Create new Author</a>
        {% endif %}
    </ul>
    {% else %}
        <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}