{% extends "base_generic.html" %}

{% block content %}
    <h1>Book List</h1>
    {% if book_list %}
    <ul>
        {% for book in book_list %}
        <li>
            <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
            {% if perms.catalog.can_set_book %}
                <a href="{% url 'book-update' book.pk %}"> -- Update</a>
                <a href="{% url 'book-delete' book.pk %}"> -- Delete</a>
            {% endif %}
        </li>
        {% endfor %}
        {% if perms.catalog.can_set_book %}
            <br>
            <a href="{% url 'book-create' %}">+ Create new Book</a>
        {% endif %}
    </ul>
    {% else %}
        <p>There are no books in the library.</p>
    {% endif %}
{% endblock %}