.disLabel 
{
    display: inline-block;
    white-space: normal !important;
    color: #000 !important;
    border: 1px solid #777 !important;
    border-radius: 0.25em;
    padding: 0.2em 0.6em 0.3em;
}

.viewSessionScheduleTable 
{
    width: auto !important;
}

.errorMessage {
    color: red;
}

body, html {
    background:#EFEFEF !important;
    color:#000;
}

#nav {
    background:#0C6B63;
    height:5px;
}

.day_backlight {
    background:#ace2de;
}

.current_pair {
    background:#b0d751;
}

.closest_pair {
    background:#ebcf81;
}

a.plainLink:link, a.plainLink:visited { 
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a.plainLink:link:active, a.plainLink:visited:active { 
    color: black;
}

a.plainLink:link:hover  
{
    color: Blue;
    text-decoration:  underline !important;
}

.mobile-font 
{
    font-size: 18px
}